.logo {
    width: 10%;
    left: 30px;
    right: 37.43%;
    top: 25px;
    bottom: 0%;
    top: 1rem;
    left: 100;
    width: 10%;
}

@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {
    .logo {
        top: 1rem;
        left: -1.5rem;
        width: 25%;
    }
}